**Условие 1:**

Условие 1:
Оформляйте ноутбук, используя эти советы:
Номер задачи - заголовок 2
Номер подзадачи - заголовок 3

***Задача 1***
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [40]:
def fruit_amount(**kwargs):
    sum = 0
    for i, k  in kwargs.items():
        sum = sum + k
    return sum

In [41]:
fruit_amount(a = 20, b =  45, c = 55)

120

***Условие 3:***
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [43]:
costs  = [100, 125, -90, 345, 655, -1, 0, 200] 
costs = [x * -1 if x < 0 else x for x in costs]
sum(costs)

1516

В примере выше заменили - на +, но можно и удалить, как было задано:

In [44]:
costs  = [100, 125, -90, 345, 655, -1, 0, 200] 
costs = [ x for x in costs if x > 0]
sum(costs)

1425

***Условие 4.1:***</br>
Даны два списка. </br>
Дата покупки</br>
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']</br>
Суммы покупок по датам</br>
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [55]:
sale_date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09',
             '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26',
             '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',
             '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01',
             '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
             '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
sale_date_sum = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471,
                 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 
                 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

november_sum = [sale_date_sum[sale_date.index(x)]  for x in sale_date if "-11-" in x]
sum(november_sum)

36034

***4.2 Найдите выручку компании в зависимости от месяца***
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [96]:

def dict_sales_generate(dates: list, sales: list) -> dict:
    if len(dates) == len(sales):
        dict_temp = {x:sales[dates.index(x)] for x in dates}
        dict1 = {x.split("-")[1]:[] for x in dates}
        for x,y in dict_temp.items():
            dict1[x.split("-")[1]].append(y)
        dict1 = {x: sum(y) for x,y in dict1.items()}
        return dict1

In [97]:
dict_sales_generate(sale_date, sale_date_sum)

{'09': 23639, '12': 39119, '10': 25913, '11': 21960}